// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.column{
  width: 400px !important;
}

.project--column{
  width: 250px !important;
}

.category--card{
  align-self: start;
  background-color: lightgray;
  border-radius: 4px;
}

.task--card {
  background-color: ghostwhite;
  background: ghostwhite;
  box-sizing: border-box;
  border-radius: 4px;  
  padding: 8px;
  margin-bottom: 4px;
}

.project--card{
  align-self: start;
  background-color: lightgray;
  border-radius: 4px;
}