<%= form_with scope:@category, url: project_categories_path , local:true do |f| %>
  <div class="form-group ml-5 mr-5">
    <div class="input-group mb-3">
      <span class="input-group-text ml-5">Title*</span>
      <%= f.text_field :title, class:"form-control mr-5 ml-n1" %>
    </div>
    <div class="mr-5 mt-2 mb-3">
      <div style="float:right"> <%= f.submit :Submit, class: 'btn btn-primary' %> <br/> </div>
    </div>
  </div>
<% end %>